<% @title = @lesson.name %>

<h1><%= @lesson.name %></h1>

<div class="bottom">
  <button><%= link_to 'Next Lesson', section_subsection_lesson_path(@next_section, @next_subsection, @next_lesson)%></button>
</div>
